/* Base styles for dark theme */
body {
    background-color: #121212;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full height of the viewport */
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

header {
    color: white;
    padding: 0 20px;
    text-align: right;
    font-size: 20px;
    margin-bottom: 30px;
}

.organization-name {
    color: white;
    font-size: 22px;
    text-align: right;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
    color: white;
}

.content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

canvas {
    cursor: pointer;
    width: 500px;
    height: 500px;
}

.coordinates {
    margin-left: 20px;
    text-align: left;
    color: white;
}

.coordinates h3 {
    font-size: 20px;
    color: white;
}

#cityList {
    list-style-type: none;
    padding: 0;
}

#cityList li {
    color: white;
    font-size: 16px;
}

button {
    padding: 12px 25px;
    margin-top: 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #60a5fa;
}