:root {
    --canvas-size: 600px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

header {
    color: white;
    padding: 0 20px;
    text-align: right;
    font-size: 20px;
}

.user-name {
    color: white;
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
}

header p {
    font-size: 18px;
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

canvas {
    cursor: pointer;
    width: var(--canvas-size);
    height: var(--canvas-size);
}

.settings {
    margin-left: 30px;
}

.settings-container{
    display: flex;
    flex-direction: column;
}


.input-label, .algorithm-selector-label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
}

.input-field, .algorithm-selector {
    margin-left: 20px;
}

.input-number, .select-algorithm {
    width: calc(100% - 72px);
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    float: left;
    margin-bottom: 40px;
    height: 44px;
}


.custom-selector {
    height: 48px;
    position: relative;
}

.custom-selector::before, .custom-selector::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    pointer-events: none;
    width: 1px;
    right: 81px;
}

.custom-selector::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgb(0, 0, 0);
    top: 17px;
}

.custom-selector::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgb(0, 0, 0);
    top: 24px;
}

.select-algorithm {
    appearance: none;
}

#solveMTSPButton, .allowed-download {
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 140px;
    height: 44px;
}

#solveMTSPButton:hover, .allowed-download:hover {
    background-color: #60a5fa;
}

#canselButton {
    background-color: #FF4500;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 140px;
    height: 44px;
    margin: 20px;
}

#canselButton:hover {
    background-color: #FF8C00;
}

.disabled-download {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 140px;
    height: 44px;
}

.disabled-download:hover {
    background-color: grey;
}



.info {
    text-align: left;
    margin-left: 40px;
}

.map-title,
.map-author,
#bestResult div,
#yourResult div {
    margin-bottom: 8px;
}

.section-title {
    margin-top: 20px;
    font-weight: bold;
}

.return-button {
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 44px;
    margin-top: 20px;
}

.return-button:hover {
    background-color: #60a5fa;
}